@model IEnumerable<Domain.Models.Produto>

@{
    ViewData["Title"] = "Index";
}

<h2>Gerenciamento de Produtos</h2>
<a class="btn btn-default" asp-action="Create">Cadastrar Produto</a>

<table style="margin-bottom:15px;margin-top:15px" class="table table-hover table-striped">
    <thead>
        <tr class="table-active">
            <th>Nome</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Imagem</th>
            <th>Criado em</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Produto item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Preco </td>
                <td>@item.Quantidade</td>
                <td><img src="~/images/@item.Imagem" style="width:150px;height:120px" /></td>
                <td>@item.CriadoEm</td>
                <td class="text-right">
                    <a class="btn btn-warning" asp-action="Change" asp-route-id="@item.ProdutoId">Alterar</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ProdutoId">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>